In [21]:
import json
import pandas as pd
from coinmarketcap import Market
# function that checks for NaN in a pandas df
def check_nan(df):
    count = 0
    for i,j in enumerate(df.isnull().sum()):
        if j != 0:
            print(df.columns[i], "contains {} NaN".format(j))
            count += 1
    if count == 0:
        print("no NaN")


coinmarketcap = Market()
# the output of below call is byte so we need to convert it to str
a = coinmarketcap.ticker()
# conversion bytecode to str
json_thing = a.decode()
json_thing = json.loads(json_thing)
df = pd.DataFrame(json_thing)
df.last_updated = pd.to_datetime(df.last_updated, unit='s')
del df['available_supply']
del df['id']
del df['percent_change_1h']
del df['percent_change_7d']
del df['name']
del df['total_supply']

df = df[['24h_volume_usd', 'symbol', 'last_updated', 'market_cap_usd',
       'percent_change_24h', 'price_btc', 'price_usd', 'rank']]
check_nan(df)
df.dropna(inplace=True)
check_nan(df)
# df.sort_values('24h_volume_usd', ascending=False, inplace=True)
json_thing[3]['last_updated']

24h_volume_usd contains 54 NaN
last_updated contains 2 NaN
market_cap_usd contains 186 NaN
percent_change_24h contains 47 NaN
price_btc contains 2 NaN
price_usd contains 2 NaN
no NaN

'1496442561'

In [31]:
import datetime
print("Date From",datetime.datetime.fromtimestamp(r.json()['TimeFrom']))
print("Date To", datetime.datetime.fromtimestamp(r.json()['TimeTo']))

date_from  = datetime.datetime(2015, 1, 2, 10, 00, 00).timestamp()
date_from

KeyError: 'TimeFrom'

In [24]:
datetime.datetime.fromtimestamp(1420196399)

datetime.datetime(2015, 1, 2, 10, 59, 59)

In [28]:
import datetime
import time
from dateutil import parser

dt = parser.parse("2014-10-11 04:00:00")
time.mktime(dt.timetuple())

1412996400.0

In [33]:
from dateutil import parser
dt = parser.parse("2014-10-11 04:00:00")
dt

datetime.datetime(2014, 10, 11, 4, 0)

In [36]:
r.json()
url.format(minute_data, curr_from, curr_to, delta_in_hours, date_to_timestamp, exchange)

'https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=EUR&limit=1464&toTs=1393804800.0&e=Kraken'

### Historical data extraction with help of cryptocompare.com API
https://www.cryptocompare.com/api/#introduction

In [56]:
##### Hourly data from cryprocompare

import pandas as pd
import datetime
import time
import requests
from IPython.display import display

# generic url for data extraction from cryptocompare.com's API
url = 'https://min-api.cryptocompare.com/data/{0}?fsym={1}&tsym={2}&limit={3}&toTs={4}&e={5}'

# parameters for the url
# data resolution {0}
hourly_data = "histohour"
minute_data = "histominute"
# currency from {1}
curr_from = "BTC"
# currency to {2}
curr_to = "EUR"

############################################################
# limit of hours with maximum 2000 (1992 is 83 days) {3}
# calculating and converting time for data extraction {4}
date_from_datetime  = datetime.datetime(2017, 5, 28, 0, 0)
print(date_from_datetime)

# enter date_to that is <= than 83 days from date_from for hourly data or <= 83 hr if minute data
date_to_datetime = datetime.datetime(2017, 6, 5, 0, 0)
print(date_to_datetime)

# checking that the entered dates have no more than 2000 hr between them
delta_in_hours = int(((date_to_datetime - date_from_datetime).total_seconds() / 3600))
print("There are {0} hrs or {1:.2f} days between the dates {2} and {3}".format(delta_in_hours, delta_in_hours / 24, \
      date_from_datetime, date_to_datetime))
limit_hours = 2000
assert (delta_in_hours < limit_hours), \
"There must be <= {0} hrs between dates, but the current value is {1}. Change the dates interval"\
.format(limit_hours, delta_in_hours)
    
# calculating the the date_to by adding 1999 hr to the date_from
# date_to = (date_from_datetime + datetime.timedelta(hours=2000-1))
date_to_timestamp = date_to_datetime.timestamp()
print("The Date To timestamp is {}".format(date_to_timestamp))
############################################################

# coin exchange name, if not used, then CCAGG  {5}
exchange = "Kraken"#"&e=Kraken" (default exchange is CCCAGG)



r = requests.get(url.format(minute_data, curr_from, curr_to, delta_in_hours, date_to_timestamp, exchange))

df = pd.DataFrame(r.json()['Data'])
df.time = pd.to_datetime(df.time, unit='s')
if exchange == "": exchange = "CCCAGG"
print("Prices from the exchange: {}".format(exchange))

print("##########################")
df.set_index(df['time'], drop=True, inplace=True)
del df['time']
display(df.head(5))
display(df.tail(5))

2017-05-28 00:00:00
2017-06-05 00:00:00
There are 192 hrs or 8.00 days between the dates 2017-05-28 00:00:00 and 2017-06-05 00:00:00
The Date To timestamp is 1496617200.0
Prices from the exchange: Kraken
##########################

                       close     high      low     open  volumefrom  volumeto
time
2017-06-02 19:42:00  2163.31  2163.33  2162.02  2162.98        1.21   2618.12
2017-06-02 19:43:00  2162.98  2163.60  2162.04  2163.31        1.19   2568.62
2017-06-02 19:44:00  2166.93  2166.93  2162.98  2162.98       15.09  32694.33
2017-06-02 19:45:00  2163.00  2166.93  2163.00  2166.93        1.66   3595.69
2017-06-02 19:46:00  2157.73  2163.73  2157.73  2163.00        5.33  11533.73

                       close     high      low     open  volumefrom  volumeto
time
2017-06-02 22:50:00  2189.25  2189.64  2189.03  2189.64      0.1385    303.27
2017-06-02 22:51:00  2189.90  2189.90  2189.25  2189.25      0.2803    613.75
2017-06-02 22:52:00  2188.03  2189.90  2188.03  2189.90      0.5344   1169.80
2017-06-02 22:53:00  2188.03  2188.03  2188.03  2188.03      0.0000      0.00
2017-06-02 22:54:00  2189.98  2188.03  2188.03  2188.03      0.0000      0.00

In [80]:
coinb = requests.get('https://api.coinbase.com/v2/exchange-rates')
coinb.json()['data']['rates']

{'AED': '3.67',
 'AFN': '67.92',
 'ALL': '118.85',
 'AMD': '482.44',
 'ANG': '1.78',
 'AOA': '165.92',
 'ARS': '16.04',
 'AUD': '1.34',
 'AWG': '1.80',
 'AZN': '1.69',
 'BAM': '1.75',
 'BBD': '2.00',
 'BDT': '80.35',
 'BGN': '1.73',
 'BHD': '0.377',
 'BIF': '1716',
 'BMD': '1.00',
 'BND': '1.38',
 'BOB': '6.91',
 'BRL': '3.25',
 'BSD': '1.00',
 'BTC': '0.00040900',
 'BTN': '64.45',
 'BWP': '10.20',
 'BYN': '1.87',
 'BYR': '20026',
 'BZD': '2.01',
 'CAD': '1.35',
 'CDF': '1428.86',
 'CHF': '0.96',
 'CLF': '0.0249',
 'CLP': '670',
 'CNY': '6.81',
 'COP': '2895.48',
 'CRC': '565.52',
 'CUC': '1.00',
 'CVE': '98.40',
 'CZK': '23.34',
 'DJF': '179',
 'DKK': '6.59',
 'DOP': '46.99',
 'DZD': '108.24',
 'EEK': '14.61',
 'EGP': '18.00',
 'ERN': '15.35',
 'ETB': '23.20',
 'ETH': '0.00452530',
 'EUR': '0.89',
 'FJD': '2.08',
 'FKP': '0.78',
 'GBP': '0.78',
 'GEL': '2.42',
 'GGP': '0.78',
 'GHS': '4.29',
 'GIP': '0.78',
 'GMD': '46.16',
 'GNF': '9120',
 'GTQ': '7.36',
 'GYD': '206.80',
 'HKD': '7.79',
 'HNL': '23.36',
 'HRK': '6.57',
 'HTG': '68.50',
 'HUF': '273',
 'IDR': '13307.41',
 'ILS': '3.55',
 'IMP': '0.78',
 'INR': '64.26',
 'IQD': '1161.400',
 'ISK': '98',
 'JEP': '0.78',
 'JMD': '130.23',
 'JOD': '0.710',
 'JPY': '110',
 'KES': '103.40',
 'KGS': '68.13',
 'KHR': '4048.35',
 'KMF': '439',
 'KRW': '1118',
 'KWD': '0.304',
 'KYD': '0.83',
 'KZT': '312.12',
 'LAK': '8166.40',
 'LBP': '1497.95',
 'LKR': '153.08',
 'LRD': '94.50',
 'LSL': '12.88',
 'LTC': '0.03594536',
 'LTL': '3.22',
 'LVL': '0.66',
 'LYD': '1.388',
 'MAD': '9.69',
 'MDL': '18.19',
 'MGA': '3091.2',
 'MKD': '54.58',
 'MMK': '1361.80',
 'MNT': '2390.17',
 'MOP': '8.03',
 'MRO': '358.2',
 'MTL': '0.68',
 'MUR': '34.70',
 'MVR': '15.61',
 'MWK': '725.96',
 'MXN': '18.68',
 'MYR': '4.28',
 'MZN': '70.93',
 'NAD': '12.88',
 'NGN': '313.00',
 'NIO': '29.89',
 'NOK': '8.41',
 'NPR': '103.11',
 'NZD': '1.40',
 'OMR': '0.385',
 'PAB': '1.00',
 'PEN': '3.27',
 'PGK': '3.16',
 'PHP': '49.35',
 'PKR': '104.24',
 'PLN': '3.71',
 'PYG': '5563',
 'QAR': '3.64',
 'RON': '4.05',
 'RSD': '108.35',
 'RUB': '56.63',
 'RWF': '840',
 'SAR': '3.75',
 'SBD': '7.90',
 'SCR': '13.34',
 'SEK': '8.62',
 'SGD': '1.38',
 'SHP': '0.78',
 'SLL': '7522.35',
 'SOS': '575.15',
 'SRD': '7.53',
 'SSP': '122.50',
 'STD': '21656.61',
 'SVC': '8.75',
 'SZL': '12.85',
 'THB': '34.05',
 'TJS': '8.81',
 'TMT': '3.51',
 'TND': '2.426',
 'TOP': '2.29',
 'TRY': '3.51',
 'TTD': '6.69',
 'TWD': '30.11',
 'TZS': '2236.40',
 'UAH': '26.13',
 'UGX': '3597',
 'USD': '1.00',
 'UYU': '28.14',
 'UZS': '3824.40',
 'VEF': '10.12',
 'VND': '22687',
 'VUV': '108',
 'WST': '2.56',
 'XAF': '583',
 'XAG': '0',
 'XAU': '0',
 'XCD': '2.70',
 'XDR': '1',
 'XOF': '584',
 'XPD': '0',
 'XPF': '107',
 'XPT': '0',
 'YER': '250.20',
 'ZAR': '12.82',
 'ZMK': '5253.08',
 'ZMW': '9.30',
 'ZWL': '322.39'}

In [82]:
coinmarket = requests.get('https://api.coinmarketcap.com/v1/ticker/bitcoin/')
coinmarket.json()

[{'24h_volume_usd': '1305680000.0',
  'available_supply': '16367912.0',
  'id': 'bitcoin',
  'last_updated': '1496444963',
  'market_cap_usd': '40552647734.0',
  'name': 'Bitcoin',
  'percent_change_1h': '1.07',
  'percent_change_24h': '3.71',
  'percent_change_7d': '11.91',
  'price_btc': '1.0',
  'price_usd': '2477.57',
  'rank': '1',
  'symbol': 'BTC',
  'total_supply': '16367912.0'}]