In [2]:
import json
import pandas as pd
from coinmarketcap import Market
# function that checks for NaN in a pandas df
def check_nan(df):
    count = 0
    for i,j in enumerate(df.isnull().sum()):
        if j != 0:
            print(df.columns[i], "contains {} NaN".format(j))
            count += 1
    if count == 0:
        print("no NaN")


coinmarketcap = Market()
# the output of below call is byte so we need to convert it to str
a = coinmarketcap.ticker()
# conversion bytecode to str
json_thing = a.decode()
json_thing = json.loads(json_thing)
df = pd.DataFrame(json_thing)
df.last_updated = pd.to_datetime(df.last_updated, unit='s')
del df['available_supply']
del df['id']
del df['percent_change_1h']
del df['percent_change_7d']
del df['name']
del df['total_supply']

df = df[['24h_volume_usd', 'symbol', 'last_updated', 'market_cap_usd',
       'percent_change_24h', 'price_btc', 'price_usd', 'rank']]
check_nan(df)
df.dropna(inplace=True)
check_nan(df)
# df.sort_values('24h_volume_usd', ascending=False, inplace=True)
json_thing

ImportError: No module named 'coinmarketcap'

In [98]:
import requests
r = requests.get('https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD&limit=2000&toTs=1420199999&e=Kraken')
df = pd.DataFrame(r.json()['Data'])
df.time = pd.to_datetime(df.time, unit='s')
df
#df1 = pd.DataFrame(r.json()['Response'])

       close    high     low    open                time  volumefrom  volumeto
0     355.59  355.59  355.59  355.59 2014-10-11 03:00:00     0.00000      0.00
1     355.59  355.59  355.59  355.59 2014-10-11 04:00:00     0.00000      0.00
2     355.59  355.59  355.59  355.59 2014-10-11 05:00:00     0.00000      0.00
3     355.59  355.59  355.59  355.59 2014-10-11 06:00:00     0.00000      0.00
4     355.59  355.59  355.59  355.59 2014-10-11 07:00:00     0.00000      0.00
5     355.59  355.59  355.59  355.59 2014-10-11 08:00:00     0.00000      0.00
6     378.83  378.83  355.59  355.59 2014-10-11 09:00:00     0.02700     10.23
7     378.83  378.83  378.83  378.83 2014-10-11 10:00:00     0.00000      0.00
8     378.83  378.83  378.83  378.83 2014-10-11 11:00:00     0.00000      0.00
9     378.83  378.83  378.83  378.83 2014-10-11 12:00:00     0.00000      0.00
10    378.83  378.83  378.83  378.83 2014-10-11 13:00:00     0.00000      0.00
11    378.83  378.83  378.83  378.83 2014-10-11 14:00:00     0.00000      0.00
12    378.83  378.83  378.83  378.83 2014-10-11 15:00:00     0.00000      0.00
13    361.34  378.83  361.34  378.83 2014-10-11 16:00:00     0.05014     18.12
14    361.17  379.00  361.17  361.34 2014-10-11 17:00:00     0.12600     47.31
15    361.17  361.17  361.17  361.17 2014-10-11 18:00:00     0.00000      0.00
16    361.17  361.17  361.17  361.17 2014-10-11 19:00:00     0.00000      0.00
17    362.85  364.59  361.17  361.17 2014-10-11 20:00:00     0.13860     50.32
18    366.39  366.39  362.85  362.85 2014-10-11 21:00:00     0.10000     36.64
19    357.18  366.39  357.18  366.39 2014-10-11 22:00:00     0.02000      7.14
20    357.18  357.18  357.18  357.18 2014-10-11 23:00:00     0.00000      0.00
21    357.18  357.18  357.18  357.18 2014-10-12 00:00:00     0.00000      0.00
22    357.18  357.18  357.18  357.18 2014-10-12 01:00:00     0.00000      0.00
23    357.18  357.18  357.18  357.18 2014-10-12 02:00:00     0.00000      0.00
24    357.18  357.18  357.18  357.18 2014-10-12 03:00:00     0.00000      0.00
25    357.18  357.18  357.18  357.18 2014-10-12 04:00:00     0.00000      0.00
26    357.18  357.18  357.18  357.18 2014-10-12 05:00:00     0.00000      0.00
27    357.18  357.18  357.18  357.18 2014-10-12 06:00:00     0.00000      0.00
28    357.18  357.18  357.18  357.18 2014-10-12 07:00:00     0.00000      0.00
29    358.91  359.53  357.18  357.18 2014-10-12 08:00:00     0.02803     10.07
...      ...     ...     ...     ...                 ...         ...       ...
1971  319.14  319.14  319.14  319.14 2015-01-01 06:00:00     0.00000      0.00
1972  319.14  319.14  319.14  319.14 2015-01-01 07:00:00     0.00000      0.00
1973  319.14  319.14  319.14  319.14 2015-01-01 08:00:00     0.00000      0.00
1974  319.14  319.14  319.14  319.14 2015-01-01 09:00:00     0.00000      0.00
1975  319.14  319.14  319.14  319.14 2015-01-01 10:00:00     0.00000      0.00
1976  319.14  319.14  319.14  319.14 2015-01-01 11:00:00     0.00000      0.00
1977  319.14  319.14  319.14  319.14 2015-01-01 12:00:00     0.00000      0.00
1978  319.14  319.14  319.14  319.14 2015-01-01 13:00:00     0.00000      0.00
1979  319.14  319.14  319.14  319.14 2015-01-01 14:00:00     0.00000      0.00
1980  314.04  319.14  314.03  319.14 2015-01-01 15:00:00     0.23500     73.80
1981  314.04  314.04  314.04  314.04 2015-01-01 16:00:00     0.00000      0.00
1982  314.04  314.04  314.04  314.04 2015-01-01 17:00:00     0.00000      0.00
1983  325.00  325.00  314.04  314.04 2015-01-01 18:00:00     0.20000     65.00
1984  325.00  325.00  325.00  325.00 2015-01-01 19:00:00     0.00000      0.00
1985  325.00  325.00  325.00  325.00 2015-01-01 20:00:00     0.00000      0.00
1986  325.00  325.00  325.00  325.00 2015-01-01 21:00:00     0.00000      0.00
1987  325.00  325.00  325.00  325.00 2015-01-01 22:00:00     0.00000      0.00
1988  325.00  325.00  325.00  325.00 2015-01-01 23:00:00     0.00000      0.00
1989  325.00  325.00  325.00  325.00 2015-01-02 00:00:00     0.00000      0.00
1990  325.00  325.00  325.00  325.00 2015-01-02 01:00:00     0.00000      0.00
1991  325.00  325.00  325.00  325.00 2015-01-02 02:00:00     0.00000      0.00
1992  325.00  325.00  325.00  325.00 2015-01-02 03:00:00     0.00000      0.00
1993  313.18  325.00  313.18  325.00 2015-01-02 04:00:00     0.01040      3.26
1994  313.18  313.18  313.18  313.18 2015-01-02 05:00:00     0.00000      0.00
1995  313.18  313.18  313.18  313.18 2015-01-02 06:00:00     0.00000      0.00
1996  313.18  313.18  313.18  313.18 2015-01-02 07:00:00     0.00000      0.00
1997  313.18  313.18  313.18  313.18 2015-01-02 08:00:00     0.00000      0.00
1998  313.18  313.18  313.18  313.18 2015-01-02 09:00:00     0.00000      0.00
1999  313.33  320.00  313.18  313.18 2015-01-02 10:00:00     0.63800    203.49
2000  313.33  313.33  313.33  313.33 2015-01-02 11:00:00     0.00000      0.00

[2001 rows x 7 columns]

In [73]:
print(r.json()['TimeFrom'])
print(r.json()['TimeTo'])

1412996400
1420196400

In [80]:
import datetime
print("Date From",datetime.datetime.fromtimestamp(r.json()['TimeFrom']))
print("Date To", datetime.datetime.fromtimestamp(r.json()['TimeTo']))
datetime.datetime.("2014-10-11 04:00:00")

SyntaxError: invalid token (<ipython-input-80-32942f8c7765>, line 4)

In [ ]:
r.json()

In [90]:
import datetime
import time
dt = parser.parse("2014-10-11 04:00:00")
time.mktime(dt.timetuple())

1412996400.0

In [81]:
from dateutil import parser
dt = parser.parse("2014-10-11 04:00:00")

In [86]:
dt

datetime.datetime(2014, 10, 11, 4, 0)