In [2]:
import json
import pandas as pd
from coinmarketcap import Market
# function that checks for NaN in a pandas df
def check_nan(df):
    count = 0
    for i,j in enumerate(df.isnull().sum()):
        if j != 0:
            print(df.columns[i], "contains {} NaN".format(j))
            count += 1
    if count == 0:
        print("no NaN")


coinmarketcap = Market()
# the output of below call is byte so we need to convert it to str
a = coinmarketcap.ticker()
# conversion bytecode to str
json_thing = a.decode()
json_thing = json.loads(json_thing)
df = pd.DataFrame(json_thing)
df.last_updated = pd.to_datetime(df.last_updated, unit='s')
del df['available_supply']
del df['id']
del df['percent_change_1h']
del df['percent_change_7d']
del df['name']
del df['total_supply']

df = df[['24h_volume_usd', 'symbol', 'last_updated', 'market_cap_usd',
       'percent_change_24h', 'price_btc', 'price_usd', 'rank']]
check_nan(df)
df.dropna(inplace=True)
check_nan(df)
# df.sort_values('24h_volume_usd', ascending=False, inplace=True)
json_thing

ImportError: No module named 'coinmarketcap'

,close,high,low,open,time,volumefrom,volumeto
0,361.32,369.22,359.65,366.44,2014-10-11 03:00:00,629.93,230371.85
1,364.00,365.39,360.99,361.32,2014-10-11 04:00:00,546.04,198449.22
2,362.94,364.09,361.23,364.00,2014-10-11 05:00:00,547.33,199066.29
3,364.93,367.75,362.74,362.94,2014-10-11 06:00:00,539.27,197442.45
4,366.08,367.05,364.65,364.93,2014-10-11 07:00:00,317.01,115934.44
5,362.88,365.89,360.83,366.08,2014-10-11 08:00:00,355.64,128832.90
6,361.32,362.90,357.17,362.88,2014-10-11 09:00:00,640.54,230561.08
7,354.49,361.51,353.58,361.32,2014-10-11 10:00:00,745.63,266568.93
8,356.04,357.10,353.14,354.49,2014-10-11 11:00:00,598.43,213290.68
9,355.02,356.68,352.63,356.04,2014-10-11 12:00:00,513.96,182463.18
10,355.37,358.03,354.12,355.02,2014-10-11 13:00:00,555.20,202320.73
11,351.52,355.66,351.52,355.37,2014-10-11 14:00:00,610.46,221293.58
12,352.25,353.84,350.59,351.52,2014-10-11 15:00:00,462.72,162795.35
13,353.79,354.15,350.48,352.25,2014-10-11 16:00:00,446.36,159346.16
14,356.10,359.47,353.48,353.79,2014-10-11 17:00:00,661.65,238416.01
15,357.22,357.41,355.24,356.10,2014-10-11 18:00:00,449.89,164059.34
16,357.39,357.75,355.77,357.22,2014-10-11 19:00:00,394.84,143459.31
17,359.79,361.88,357.85,357.39,2014-10-11 20:00:00,757.15,275823.28
18,358.05,361.91,356.94,359.79,2014-10-11 21:00:00,540.55,194594.14
19,359.61,361.07,356.91,358.05,2014-10-11 22:00:00,411.27,149015.70
20,360.75,361.60,357.62,359.61,2014-10-11 23:00:00,593.48,216768.24
21,360.71,361.65,359.85,360.75,2014-10-12 00:00:00,285.95,104271.13
22,357.32,360.51,356.81,360.71,2014-10-12 01:00:00,417.69,151069.52
23,357.44,358.24,355.71,357.32,2014-10-12 02:00:00,285.18,103405.14
24,358.84,359.92,357.53,357.44,2014-10-12 03:00:00,234.75,84993.17
25,357.17,358.66,356.59,358.84,2014-10-12 04:00:00,296.14,106327.50
26,359.04,359.26,357.31,357.17,2014-10-12 05:00:00,226.59,81158.62
27,357.18,359.91,357.12,359.04,2014-10-12 06:00:00,247.60,89055.03
28,356.58,358.60,356.43,357.18,2014-10-12 07:00:00,233.57,83747.23
29,358.20,361.23,357.87,356.58,2014-10-12 08:00:00,1095.03,392959.80
...,...,...,...,...,...,...,...
1970,315.12,317.97,314.63,318.26,2015-01-01 05:00:00,1549.21,490451.03
1971,315.78,316.29,314.81,315.12,2015-01-01 06:00:00,379.51,120304.02
1972,317.65,318.42,316.62,315.78,2015-01-01 07:00:00,166.08,52832.00
1973,315.11,316.15,314.17,317.65,2015-01-01 08:00:00,401.08,126422.84
1974,316.46,317.39,315.28,315.11,2015-01-01 09:00:00,664.60,210696.79
1975,315.63,316.93,315.31,316.46,2015-01-01 10:00:00,530.68,167893.74
1976,315.94,316.78,315.38,315.63,2015-01-01 11:00:00,439.46,139272.14
1977,315.42,316.52,315.16,315.94,2015-01-01 12:00:00,360.00,113764.98
1978,315.55,316.10,315.04,315.42,2015-01-01 13:00:00,421.78,133467.61
1979,316.69,317.19,315.24,315.55,2015-01-01 14:00:00,536.78,169583.00
1980,316.40,317.54,315.56,316.69,2015-01-01 15:00:00,476.14,150733.22
1981,315.48,316.78,314.68,316.40,2015-01-01 16:00:00,410.44,130206.88
1982,316.04,317.17,315.73,315.48,2015-01-01 17:00:00,221.43,70859.88
1983,315.05,316.92,314.84,316.04,2015-01-01 18:00:00,625.37,198666.68
1984,314.89,315.30,314.50,315.05,2015-01-01 19:00:00,417.25,133381.11
1985,314.66,315.45,314.47,314.89,2015-01-01 20:00:00,557.53,177078.41
1986,315.26,315.48,314.31,314.66,2015-01-01 21:00:00,628.45,198009.57
1987,314.91,315.60,314.35,315.26,2015-01-01 22:00:00,573.10,182120.15
1988,314.95,315.70,314.24,314.91,2015-01-01 23:00:00,502.64,159676.95
1989,313.94,315.09,313.50,314.95,2015-01-02 00:00:00,489.69,155050.81
1990,314.48,314.94,312.84,313.94,2015-01-02 01:00:00,970.60,304382.64
1991,314.90,315.58,314.22,314.48,2015-01-02 02:00:00,497.74,157787.61
1992,314.75,315.08,313.90,314.90,2015-01-02 03:00:00,569.63,180457.10
1993,315.05,315.84,314.93,314.75,2015-01-02 04:00:00,395.40,124581.14
1994,315.40,316.00,314.57,315.05,2015-01-02 05:00:00,661.11,209327.48
1995,314.86,315.66,314.23,315.40,2015-01-02 06:00:00,711.05,224028.27
1996,314.07,314.77,313.46,314.86,2015-01-02 07:00:00,272.18,86029.07
1997,314.77,315.44,313.46,314.07,2015-01-02 08:00:00,524.55,165312.48
1998,314.35,315.38,313.88,314.77,2015-01-02 09:00:00,392.10,123428.71
1999,314.05,315.01,313.49,314.35,2015-01-02 10:00:00,520.43,163555.71

In [140]:
# limit = 2000 <> rows 2000
# from 2014-10-11 03:00:00
# to 2015-01-02 10:00:00

print(r.json()['TimeFrom'])
print(r.json()['TimeTo'])

1413021600
1420192800

In [179]:
import datetime
print("Date From",datetime.datetime.fromtimestamp(r.json()['TimeFrom']))
print("Date To", datetime.datetime.fromtimestamp(r.json()['TimeTo']))

date_from  = datetime.datetime(2015, 1, 2, 10, 00, 00).timestamp()
date_from

Date From 2014-10-11 04:00:00
Date To 2015-01-02 10:00:00

1420192800.0

In [170]:
datetime.datetime.fromtimestamp(1420196399)

datetime.datetime(2015, 1, 2, 10, 59, 59)

In [162]:
import datetime
import time
dt = parser.parse("2014-10-11 04:00:00")
time.mktime(dt.timetuple())

1412996400.0

In [160]:
from dateutil import parser
dt = parser.parse("2014-10-11 04:00:00")

In [86]:
dt

datetime.datetime(2014, 10, 11, 4, 0)

In [265]:
# Hourly data from cryprocompare
import requests
from IPython.display import display

# generic url for data extraction from cryptocompare.com's API
url = 'https://min-api.cryptocompare.com/data/{0}?fsym={1}&tsym={2}&limit={3}&toTs={4}{5}'

# parameters for the url
# data resolution {0}
hourly_data = "histohour"
minute_data = "histominute"
# currency from {1}
curr_from = "BTC"
# currency to {2}
curr_to = "USD"
# limit of hours with maximum 2000 (1992 is 83 days) {3}
hour_limit = 2000

############################################################
# calculating and converting time for data extraction {4}
date_from_datetime  = datetime.datetime(2014, 10, 11, 3, 0)
print(date_from_datetime)

# enter date_to that is <= than 83 daya from date_from 
date_to_datetime = datetime.datetime(2015, 1, 2, 10, 0)
print(date_to_datetime)

# checking that the entered dates have no more than 2000 hr between them
delta_in_hours = int(((date_to_datetime - date_from_datetime).total_seconds() / 3600))
print("There are {0} hrs or {1:.2f} days between the dates {2} and {3}".format(delta_in_hours, delta_in_hours / 24, \
      date_from_datetime, date_to_datetime))
limit_hours = 2000
assert (delta_in_hours < limit_hours), \
"There must be <= {0} hrs between dates, but the current value is {1}. Change the dates interval"\
.format(limit_hours, delta_in_hours)
    
# calculating the the date_to by adding 1999 hr to the date_from
# date_to = (date_from_datetime + datetime.timedelta(hours=2000-1))
date_to_timestamp = date_to_datetime.timestamp()
print(date_to_timestamp)
############################################################

# coin exchange name, if not used, then CCAGG  {5}
exchange =  ""#"&e=Kraken" (default exchange is CCAGG)



r = requests.get(url.format(hourly_data, curr_from, curr_to, hour_limit-1, date_to_timestamp, exchange))
df = pd.DataFrame(r.json()['Data'])
df.time = pd.to_datetime(df.time, unit='s')
if exchange == "": exchange = "CCAGG"
print("Prices from Coin Exchange {}".format(exchange))
display(df.head(3))
print("##########################")
display(df.tail(3))

2014-10-11 03:00:00
2015-01-02 10:00:00
There are 1999 hrs or 83.29 days between the dates 2014-10-11 03:00:00 and 2015-01-02 10:00:00
1420192800.0
Prices from Coin Exchange CCAGG

    close    high     low    open                time  volumefrom   volumeto
0  361.32  369.22  359.65  366.44 2014-10-11 03:00:00      629.93  230371.85
1  364.00  365.39  360.99  361.32 2014-10-11 04:00:00      546.04  198449.22
2  362.94  364.09  361.23  364.00 2014-10-11 05:00:00      547.33  199066.29

##########################

,close,high,low,open,time,volumefrom,volumeto
1997,314.77,315.44,313.46,314.07,2015-01-02 08:00:00,524.55,165312.48
1998,314.35,315.38,313.88,314.77,2015-01-02 09:00:00,392.10,123428.71
1999,314.05,315.01,313.49,314.35,2015-01-02 10:00:00,520.43,163555.71

1999.0

In [210]:
(date_to_datetime - date_from_datetime)

datetime.timedelta(0, 3600)

In [237]:
x = 1
assert (x > 1),"x is not bigger than 1, x is {}".format(x)

AssertionError: x is not bigger than 1, x is 1