In [ ]:
import json
import pandas as pd
from coinmarketcap import Market
# function that checks for NaN in a pandas df
def check_nan(df):
    count = 0
    for i,j in enumerate(df.isnull().sum()):
        if j != 0:
            print(df.columns[i], "contains {} NaN".format(j))
            count += 1
    if count == 0:
        print("no NaN")


coinmarketcap = Market()
# the output of below call is byte so we need to convert it to str
a = coinmarketcap.ticker()
# conversion bytecode to str
json_thing = a.decode()
json_thing = json.loads(json_thing)
df = pd.DataFrame(json_thing)
df.last_updated = pd.to_datetime(df.last_updated, unit='s')
del df['available_supply']
del df['id']
del df['percent_change_1h']
del df['percent_change_7d']
del df['name']
del df['total_supply']

df = df[['24h_volume_usd', 'symbol', 'last_updated', 'market_cap_usd',
       'percent_change_24h', 'price_btc', 'price_usd', 'rank']]
check_nan(df)
df.dropna(inplace=True)
check_nan(df)
# df.sort_values('24h_volume_usd', ascending=False, inplace=True)
json_thing

In [140]:
# limit = 2000 <> rows 2000
# from 2014-10-11 03:00:00
# to 2015-01-02 10:00:00

print(r.json()['TimeFrom'])
print(r.json()['TimeTo'])

1413021600
1420192800

In [179]:
import datetime
print("Date From",datetime.datetime.fromtimestamp(r.json()['TimeFrom']))
print("Date To", datetime.datetime.fromtimestamp(r.json()['TimeTo']))

date_from  = datetime.datetime(2015, 1, 2, 10, 00, 00).timestamp()
date_from

Date From 2014-10-11 04:00:00
Date To 2015-01-02 10:00:00

1420192800.0

In [170]:
datetime.datetime.fromtimestamp(1420196399)

datetime.datetime(2015, 1, 2, 10, 59, 59)

In [268]:
import datetime
import time
dt = parser.parse("2014-10-11 04:00:00")
time.mktime(dt.timetuple())

1412982000.0

In [160]:
from dateutil import parser
dt = parser.parse("2014-10-11 04:00:00")

### Historical data extraction with help of cryptocompare.com API
https://www.cryptocompare.com/api/#introduction

In [28]:
##### Hourly data from cryprocompare

import pandas as pd
import datetime
import requests
from IPython.display import display

# generic url for data extraction from cryptocompare.com's API
url = 'https://min-api.cryptocompare.com/data/{0}?fsym={1}&tsym={2}&limit={3}&toTs={4}&e={5}'

# parameters for the url
# data resolution {0}
hourly_data = "histohour"
minute_data = "histominute"
# currency from {1}
curr_from = "BTC"
#Â currency to {2}
curr_to = "EUR"

############################################################
# limit of hours with maximum 2000 (1992 is 83 days) {3}
# calculating and converting time for data extraction {4}
date_from_datetime  = datetime.datetime(2017, 6, 1, 0, 0)
print(date_from_datetime)

# enter date_to that is <= than 83 days from date_from for hourly data or <= 83 hr if minute data
date_to_datetime = datetime.datetime(2017, 6, 6, 0, 0)
print(date_to_datetime)

# checking that the entered dates have no more than 2000 hr between them
delta_in_hours = int(((date_to_datetime - date_from_datetime).total_seconds() / 3600))
print("There are {0} hrs or {1:.2f} days between the dates {2} and {3}".format(delta_in_hours, delta_in_hours / 24, \
      date_from_datetime, date_to_datetime))
limit_hours = 2000
assert (delta_in_hours < limit_hours), \
"There must be <= {0} hrs between dates, but the current value is {1}. Change the dates interval"\
.format(limit_hours, delta_in_hours)
    
# calculating the the date_to by adding 1999 hr to the date_from
# date_to = (date_from_datetime + datetime.timedelta(hours=2000-1))
date_to_timestamp = date_to_datetime.timestamp()
print("The Date To timestamp is {}".format(date_to_timestamp))
############################################################

# coin exchange name, if not used, then CCAGG  {5}
exchange = "Kraken"#"&e=Kraken" (default exchange is CCCAGG)



r = requests.get(url.format(minute_data, curr_from, curr_to, delta_in_hours, date_to_timestamp, exchange))

df = pd.DataFrame(r.json()['Data'])
df.time = pd.to_datetime(df.time, unit='s')
if exchange == "": exchange = "CCCAGG"
print("Prices from the exchange: {}".format(exchange))

print("##########################")
df.set_index(df['time'], drop=True, inplace=True)
del df['time']
display(df.head(5))
display(df.tail(5))

2017-06-01 00:00:00
2017-06-06 00:00:00
There are 120 hrs or 5.00 days between the dates 2017-06-01 00:00:00 and 2017-06-06 00:00:00
The Date To timestamp is 1496703600.0
Prices from the exchange: Kraken
##########################

                       close     high      low     open  volumefrom  volumeto
time
2017-06-05 21:00:00  2358.67  2359.02  2355.54  2355.96      2.3400   5502.62
2017-06-05 21:01:00  2359.02  2359.02  2355.89  2358.67      1.8700   4419.74
2017-06-05 21:02:00  2359.02  2359.02  2355.96  2359.02      0.3479    820.38
2017-06-05 21:03:00  2359.02  2359.02  2359.01  2359.02      2.1300   5014.99
2017-06-05 21:04:00  2359.02  2359.02  2359.01  2359.02      0.5619   1325.47

                       close     high      low     open  volumefrom  volumeto
time
2017-06-05 22:56:00  2376.66  2379.00  2376.66  2376.75        7.35  17470.81
2017-06-05 22:57:00  2374.88  2376.67  2368.05  2376.66       16.48  39097.93
2017-06-05 22:58:00  2373.16  2374.88  2369.00  2374.88        5.78  13719.27
2017-06-05 22:59:00  2368.39  2373.16  2368.39  2373.16       10.43  24731.78
2017-06-05 23:00:00  2371.03  2371.03  2366.26  2368.39        5.29  12533.87

In [20]:
from flask import Flask
app = Flask (__name__)

@app.route("/")
def hello():
    return "hello me!"

if __name__ == "__main__":
    app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Jun/2017 20:25:06] "GET / HTTP/1.1" 200 -

In [24]:
l1

[2527.42, 2527.42, 2528.92, 2528.92, 2529.12, 2529.12, 2529.12, 2528.8]

In [9]:
import rethinkdb as r
import pandas as pd
import json
r.connect( "localhost", 28015).repl()

In [8]:
authors = r.db("test").table("authors").run()
authors

<rethinkdb.net.DefaultCursor object at 0x7f39e7ded7b8 (done streaming):
 [{'posts': [{'title': 'Civil rights', 'content': "There are some words I've known since..."}], 'name': 'Jean-Luc Picard', 'id': '56d53d54-7ef4-41b7-8846-7619eefae777', 'tv_show': 'Star Trek TNG'}, {'posts': [{'title': 'Decommissioning speech', 'content': 'The Cylon War is long over...'}, {'title': 'We are at war', 'content': 'Moments ago, this ship received...'}, {'title': 'The new Earth', 'content': 'The discoveries of the past few days...'}], 'name': 'William Adama', 'id': '68ce53bd-9e13-4fc0-96f9-923cc7b752f9', 'tv_show': 'Battlestar Galactica'}, {'posts': [{'title': 'The oath of office', 'content': 'I, Laura Roslin, ...'}, {'title': 'They look like us', 'content': 'The Cylons have the ability...'}], 'name': 'Laura Roslin', 'id': 'dfdc8db5-d1fd-4ea9-ad81-a6b88149b463', 'tv_show': 'Battlestar Galactica'}]>

In [12]:
for i in authors:
    print(i.json())

In [18]:
#r.db_create("COIN_PRICES").run()
r.db("COIN_PRICES").table_create("BTCUSD").run()
r.db("COIN_PRICES").table("BTCUSD").insert({'USD': 2510.01}).run()

{'deleted': 0,
 'errors': 0,
 'generated_keys': ['7ad51e50-6bbd-4110-b53b-770869267f97'],
 'inserted': 1,
 'replaced': 0,
 'skipped': 0,
 'unchanged': 0}

In [289]:
import datetime
datetime.datetime.fromtimestamp(1420196399)

import datetime
import time
dt = parser.parse("2014-10-11 04:00:00")
time.mktime(dt.timetuple())

tmp = pd.to_datetime(1496839680, unit="s")
tmp.to_pydatetime()

Timestamp('2017-06-07 12:48:00')

In [354]:
import time
import datetime
import requests
import rethinkdb as r
import pandas as pd

r.connect( "localhost", 28015).repl()

url = 'https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=USD&limit=0&aggregate=0&e=Kraken'
def data_extract(url):
    l1 = list()
    while True:
        url_output = requests.get(url).json()['Data']
        url_output[0]['time'] = datetime.datetime.isoformat(datetime.datetime.fromtimestamp(url_output[0]['time']))
        url_output[1]['time'] = datetime.datetime.isoformat(datetime.datetime.fromtimestamp(url_output[1]['time']))
        #df = pd.DataFrame(url_output)
        #df.time = pd.to_datetime(df.time, unit='s')

        

        #display(df)
        r.db("COIN_PRICES").table("BTCUSD").insert(url_output[0]).run()
        time.sleep(60)
        

data_extract(url)

ConnectionError: HTTPSConnectionPool(host='min-api.cryptocompare.com', port=443): Max retries exceeded with url: /data/histominute?fsym=BTC&tsym=USD&limit=0&aggregate=0&e=Kraken (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x7f39fc39d390>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution',))

In [349]:
from IPython.display import display
import numpy as np
np.set_printoptions(suppress=True)
from_db = r.db("COIN_PRICES").table("BTCUSD").run()
df_from_db = pd.DataFrame()
for i in from_db:

    df_from_db = df_from_db.append(pd.io.json.json_normalize(i))

#df_from_db.time = pd.to_datetime(df_from_db.time, unit='s')
# df_from_db.set_index(df_from_db.time, inplace=True)
# df_from_db.drop(['time'],inplace=True)
df_from_db.sort(columns='time')

/home/yol/miniconda3/envs/tensorflow/lib/python3.5/site-packages/ipykernel_launcher.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  del sys.path[0]

,close,high,id,low,open,time,volumefrom,volumeto
0,2700.00,2701.00,6298d4be-86b8-4f11-bfaa-3295832943a6,2700.00,2700.99,2017-06-08T00:09:00,1.70000,4591.20
0,2703.49,2703.49,0a250158-516a-4678-814f-6808cddcfc32,2700.01,2701.00,2017-06-08T00:10:00,36.45000,98452.07
0,2704.24,2704.24,eff37c7d-6a03-4f5a-b6b9-f0face4540ce,2700.66,2703.49,2017-06-08T00:11:00,7.92000,21393.08
0,2705.16,2711.57,becac908-ab0c-4797-9cbe-608100e8e846,2704.24,2704.24,2017-06-08T00:12:00,10.83000,29315.27
0,2705.05,2711.57,e31c1285-9c3c-4772-bde6-cc6c069cefa6,2705.00,2705.00,2017-06-08T00:13:00,2.73000,7405.44
0,2709.19,2711.57,4ebbf38c-3593-447a-aac4-527dc5d66ad8,2705.05,2705.05,2017-06-08T00:14:00,6.86000,18566.94
0,2708.72,2709.19,e8b02d66-6b39-44bc-a72d-3c8c2952c45e,2705.49,2709.19,2017-06-08T00:15:00,34.08000,92234.97
0,2711.58,2711.58,f825d964-b1eb-4ef0-97de-88d9c24ae4a6,2708.72,2708.72,2017-06-08T00:16:00,7.84000,21253.52
0,2713.22,2713.22,f1c24cce-7556-45ca-af26-7cadcdc313f8,2710.53,2711.58,2017-06-08T00:17:00,4.55000,12331.85
0,2713.22,2713.92,bdd63215-b517-41d4-a076-6a5ff11b7e9d,2711.58,2713.22,2017-06-08T00:18:00,2.81000,7624.57
0,2714.97,2715.00,6f21d18e-2077-4dcd-8d3c-d8217c9cbec4,2711.66,2711.66,2017-06-08T00:19:00,2.17000,5886.75
0,2716.95,2716.98,6b6b450f-8665-47e9-b712-3317c4255e68,2711.66,2714.97,2017-06-08T00:20:00,1.26000,3419.45
0,2716.95,2717.92,a6d006a5-d1b4-4a76-891a-c8de9c6320d9,2716.95,2716.95,2017-06-08T00:21:00,0.32900,894.01
0,2720.05,2720.05,5c5340b2-7702-4088-834c-7b9e888f2ff9,2716.95,2716.95,2017-06-08T00:22:00,5.41000,14703.82
0,2718.96,2720.05,e8bc34b0-8fd9-4941-9a84-9fc53b28ac12,2711.66,2720.05,2017-06-08T00:23:00,6.90000,18740.53
0,2717.00,2718.96,1b543ad1-3c09-4e4c-8930-541b62bff1fc,2717.00,2718.96,2017-06-08T00:24:00,0.75070,2040.45
0,2713.42,2717.00,312bfbe7-0598-41e6-a27e-bf0d31f6b787,2713.42,2717.00,2017-06-08T00:25:00,1.44000,3902.46
0,2716.00,2716.00,99e8d91b-77d0-4e59-a276-6325d2313d98,2713.42,2713.42,2017-06-08T00:26:00,1.00000,2716.00
0,2706.20,2712.52,edba461a-95ca-4d0d-b488-9bbb6b8958bd,2705.49,2711.66,2017-06-08T00:27:00,2.55000,6923.44
0,2708.68,2712.52,4f7ad9b3-3f02-4e56-841c-d700d6e9be52,2705.00,2706.20,2017-06-08T00:28:00,12.70000,34384.15
0,2711.00,2711.00,93c2276a-2f47-4513-86cf-e5296059ff5c,2708.67,2708.68,2017-06-08T00:29:00,1.55000,4211.24
0,2712.52,2712.52,5894d488-5f51-4a6a-92ac-fd23bc80e1e1,2712.52,2712.52,2017-06-08T00:31:00,0.00000,0.00
0,2720.62,2720.62,6f15d986-c604-4170-a44f-c8fed98f16ea,2720.62,2720.62,2017-06-08T00:32:00,0.00000,0.00
0,2721.13,2721.13,6f0eddb2-f822-48fe-be29-454bfc6ef986,2709.31,2718.96,2017-06-08T00:33:00,2.60000,7044.19
0,2721.10,2721.13,4fbd0a60-f172-4316-867d-27d286b19205,2709.36,2721.13,2017-06-08T00:34:00,2.33000,6344.38
0,2721.29,2721.29,ad2cdf29-abaa-4afb-ae88-baa483755111,2716.10,2721.10,2017-06-08T00:35:00,3.79000,10302.49
0,2721.10,2721.34,06f43814-7f84-4b52-b1dd-68b19bbcb3bc,2713.00,2721.29,2017-06-08T00:36:00,9.02000,24536.23
0,2721.33,2721.33,03895126-0b5a-42f1-8b96-9b0a373f4a24,2709.36,2721.10,2017-06-08T00:37:00,4.13000,11203.72
0,2710.10,2721.34,9228fdbe-894a-4821-af76-564e606c65b1,2709.50,2721.33,2017-06-08T00:38:00,5.33000,14498.38
0,2720.00,2720.00,61724ba8-1640-4abe-bb8e-e2562da894f0,2710.10,2710.10,2017-06-08T00:39:00,0.15070,409.90
...,...,...,...,...,...,...,...,...
0,2761.94,2761.94,942ee0ee-361c-4a51-bf75-709403b90e2f,2761.94,2761.94,2017-06-08T21:17:00,0.60220,1663.22
0,2760.60,2761.94,f1a2d230-47de-47d1-a27c-8c8c58f65337,2760.60,2761.94,2017-06-08T21:18:00,1.55000,4275.92
0,2760.93,2760.94,2ce7ddd4-423e-4333-a583-648bba6c4e50,2760.60,2760.94,2017-06-08T21:19:00,0.39340,1085.94
0,2759.98,2760.93,2372eeb1-92b4-4677-84b9-4782e1af32cd,2759.98,2760.93,2017-06-08T21:20:00,1.85000,5119.04
0,2759.93,2759.98,9f60c73e-92d5-49f6-9bf3-476174a3265d,2757.61,2759.98,2017-06-08T21:21:00,0.95060,2623.47
0,2757.61,2759.93,77ef8992-6116-44de-9119-26b602d0010e,2755.00,2759.93,2017-06-08T21:22:00,7.24000,19958.21
0,2755.00,2757.61,fb041cfb-6e55-47dd-9739-ee82a6bf9326,2755.00,2757.61,2017-06-08T21:23:00,0.86000,2369.72
0,2754.98,2755.00,2a72235f-bc6a-4d42-8a1c-896eb42a7dd8,2754.98,2755.00,2017-06-08T21:24:00,0.31580,870.03
0,2754.95,2754.98,b5ed2b9d-8476-4c2b-a68e-459acbc4e604,2754.00,2754.98,2017-06-08T21:25:00,0.15360,423.03
0,2754.92,2754.95,a667daf8-b975-45e5-84c0-51fbe6ecf246,2754.92,2754.95,2017-06-08T21:26:00,0.07020,193.40
0,2754.91,2754.92,bf9c4c16-069b-4fa6-bf67-7156e0f207e9,2754.91,2754.92,2017-06-08T21:27:00,0.39930,1099.93
0,2754.91,2754.91,74b30213-c18c-405f-b07a-b332e17466a2,2754.00,2754.91,2017-06-08T21:28:00,2.45000,6738.77
0,2754.91,2759.39,8e5667d0-75e0-4437-9fa3-3e9fd6c83c02,2754.91,2754.91,2017-06-08T21:29:00,0.71910,1984.20
0,2759.33,2759.33,a42db849-54d8-44cf-b30f-e2d79254430f,2754.91,2754.91,2017-06-08T21:30:00,0.30150,831.94
0,2759.30,2759.33,b073bcff-3427-47e7-91c0-2d8d506e7945,2756.39,2759.33,2017-06-08T21:31:00,7.77000,21410.38
0,2754.94,2759.30,579647b2-deba-42bc-a6b3-fa377b1ed803,2754.94,2759.30,2017-06-08T21:32:00,1.88000,5181.59
0,2756.00,2757.00,9588213a-6f2d-4be3-922d-9bda176a4c76,2754.94,2754.94,2017-06-08T21:33:00,0.89250,2459.68
0,2756.01,2756.01,b6ac9cce-e413-4844-8fd5-afdf365c7902,2756.00,2756.00,2017-06-08T21:34:00,0.21240,585.38
0,2756.00,2756.01,f9ee0e46-aa18-43b1-aa84-e5c8f166cffa,2755.00,2756.01,2017-06-08T21:35:00,2.90000,7987.04
0,2754.00,2756.00,651fb327-5fb7-40a5-879a-0a47f6cb7575,2754.00,2756.00,2017-06-08T21:36:00,0.66900,1842.60
0,2751.44,2754.00,ae1ad04f-890f-4c48-a5ba-b939491a5ec2,2751.44,2754.00,2017-06-08T21:37:00,2.11000,5800.50
0,2751.44,2753.98,87bdc245-347f-4b80-8adf-2674d37a7436,2751.44,2751.44,2017-06-08T21:38:00,0.10380,285.74
0,2750.00,2751.44,a4bb9a17-8430-4962-a88a-a8fcf7c1f954,2750.00,2751.44,2017-06-08T21:39:00,0.42780,1177.09
0,2750.93,2750.93,35d2893e-aa41-4812-a8d7-76af49faf4e0,2750.00,2750.00,2017-06-08T21:40:00,0.20900,574.94
0,2741.84,2750.00,3be9a614-dac2-4abb-b0e9-20f09472e931,2741.84,2750.00,2017-06-08T21:41:00,0.05782,158.67
0,2744.08,2748.00,d62824f3-0f4f-4f18-af6a-8c4120cc285d,2741.84,2741.84,2017-06-08T21:42:00,12.98000,35654.60
0,2748.00,2748.00,e10291dd-af39-4332-9ce7-7a17260ad425,2744.08,2744.08,2017-06-08T21:43:00,0.99320,2729.21
0,2750.00,2750.00,5bbff267-da48-4bbb-b88d-d9288ae92453,2744.20,2748.00,2017-06-08T21:44:00,31.20000,85799.75
0,2750.00,2750.00,7978ab39-b720-46c0-8696-42df9efa6732,2750.00,2750.00,2017-06-08T21:45:00,5.93000,16294.35
0,2750.00,2750.00,6ee7698a-ae21-478c-b9fd-682256bc061a,2749.99,2750.00,2017-06-08T21:46:00,5.01000,13779.48

### ThinkDB delete statement

In [353]:
r.db("COIN_PRICES").table("BTCUSD").delete().run()

{'deleted': 5,
 'errors': 0,
 'inserted': 0,
 'replaced': 0,
 'skipped': 0,
 'unchanged': 0}

In [109]:
r.db("COIN_PRICES").table("BTCUSD").insert([{'close': 235.4,
  'high': 235.45,
  'low': 235.01,
  'open': 235.45,
  'time': 1496839500,
  'volumefrom': 74.81,
  'volumeto': 17606.41},
 {'close': 234.59,
  'high': 235.4,
  'low': 234.59,
  'open': 235.4,
  'time': 1496839680,
  'volumefrom': 38.21,
  'volumeto': 8977.23}]).run()

NameError: name 'Timestamp' is not defined

### MongoDB part

In [175]:
from pymongo import MongoClient

client = MongoClient()

db = client.primer

BTCUSD_PRICES = db.btcusd_prices

BTCUSD_PRICES.insert_many([{'close': 0.4,
  'high': 235.45,
  'low': 235.01,
  'open': 235.45,
  'time': 1496839500,
  'volumefrom': 74.81,
  'volumeto': 17606.41},
 {'close': 1.59,
  'high': 235.4,
  'low': 234.59,
  'open': 235.4,
  'time': 1496839680,
  'volumefrom': 38.21,
  'volumeto': 8977.23}])

In [193]:
df_from_db_m.time.dtype

dtype('O')

In [195]:
df_from_db_m = pd.DataFrame()
for i in BTCUSD_PRICES.find():
    #display(pd.io.json.json_normalize(i))
    df_from_db_m = df_from_db_m.append(pd.io.json.json_normalize(i))
    print(df_from_db_m.describe())
    #df_from_db_m['time'] = pd.to_datetime(df_from_db_m['time'].astype(int), unit="s")
    
df_from_db_m.time.describe()

       close    high     low    open          time  volumefrom  volumeto
count    1.0    1.00    1.00    1.00  1.000000e+00        1.00      1.00
mean   235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
std      NaN     NaN     NaN     NaN           NaN         NaN       NaN
min    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
25%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
50%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
75%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
max    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
       close    high     low    open          time  volumefrom  volumeto
count    2.0    2.00    2.00    2.00  2.000000e+00        2.00      2.00
mean   235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
std      0.0    0.00    0.00    0.00  0.000000e+00        0.00      0.00
min    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
25%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
50%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
75%    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
max    235.4  235.45  235.01  235.45  1.496840e+09       74.81  17606.41
            close        high         low        open          time  \
count    3.000000    3.000000    3.000000    3.000000  3.000000e+00
mean   235.130000  235.433333  234.870000  235.433333  1.496840e+09
std      0.467654    0.028868    0.242487    0.028868  1.039230e+02
min    234.590000  235.400000  234.590000  235.400000  1.496840e+09
25%    234.995000  235.425000  234.800000  235.425000  1.496840e+09
50%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count     3.00000      3.000000
mean     62.61000  14730.016667
std      21.13102   4982.059396
min      38.21000   8977.230000
25%      56.51000  13291.820000
50%      74.81000  17606.410000
75%      74.81000  17606.410000
max      74.81000  17606.410000
          close      high      low      open          time  volumefrom  \
count    4.0000    4.0000    4.000    4.0000  4.000000e+00        4.00
mean   235.1975  235.4375  234.905  235.4375  1.496840e+09       65.66
std      0.4050    0.0250    0.210    0.0250  9.000000e+01       18.30
min    234.5900  235.4000  234.590  235.4000  1.496840e+09       38.21
25%    235.1975  235.4375  234.905  235.4375  1.496840e+09       65.66
50%    235.4000  235.4500  235.010  235.4500  1.496840e+09       74.81
75%    235.4000  235.4500  235.010  235.4500  1.496840e+09       74.81
max    235.4000  235.4500  235.010  235.4500  1.496840e+09       74.81

        volumeto
count      4.000
mean   15449.115
std     4314.590
min     8977.230
25%    15449.115
50%    17606.410
75%    17606.410
max    17606.410
            close        high        low        open          time  \
count    5.000000    5.000000    5.00000    5.000000  5.000000e+00
mean   235.238000  235.440000  234.92600  235.440000  1.496840e+09
std      0.362243    0.022361    0.18783    0.022361  8.049845e+01
min    234.590000  235.400000  234.59000  235.400000  1.496840e+09
25%    235.400000  235.450000  235.01000  235.450000  1.496840e+09
50%    235.400000  235.450000  235.01000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.01000  235.450000  1.496840e+09
max    235.400000  235.450000  235.01000  235.450000  1.496840e+09

       volumefrom      volumeto
count    5.000000      5.000000
mean    67.490000  15880.574000
std     16.368018   3859.086614
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000
            close        high         low        open          time  \
count    6.000000    6.000000    6.000000    6.000000  6.000000e+00
mean   235.265000  235.441667  234.940000  235.441667  1.496840e+09
std      0.330681    0.020412    0.171464    0.020412  7.348469e+01
min    234.590000  235.400000  234.590000  235.400000  1.496840e+09
25%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
50%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count    6.000000      6.000000
mean    68.710000  16168.213333
std     14.941887   3522.847983
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000
            close        high         low        open          time  \
count    7.000000    7.000000    7.000000    7.000000  7.000000e+00
mean   201.712857  235.442857  234.950000  235.442857  1.496840e+09
std     88.771139    0.018898    0.158745    0.018898  6.803361e+01
min      0.400000  235.400000  234.590000  235.400000  1.496840e+09
25%    234.995000  235.450000  235.010000  235.450000  1.496840e+09
50%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count    7.000000      7.000000
mean    69.581429  16373.670000
std     13.833500   3261.523471
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000
            close        high         low        open          time  \
count    8.000000    8.000000    8.000000    8.000000  8.000000e+00
mean   176.548750  235.443750  234.957500  235.443750  1.496840e+09
std    108.721728    0.017678    0.148492    0.017678  6.363961e+01
min      0.400000  235.400000  234.590000  235.400000  1.496840e+09
25%    176.042500  235.450000  235.010000  235.450000  1.496840e+09
50%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count    8.000000      8.000000
mean    70.235000  16527.762500
std     12.940054   3050.875847
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000
            close        high         low        open          time  \
count    9.000000    9.000000    9.000000    9.000000  9.000000e+00
mean   156.976667  235.444444  234.963333  235.444444  1.496840e+09
std    117.432791    0.016667    0.140000    0.016667  6.000000e+01
min      0.400000  235.400000  234.590000  235.400000  1.496840e+09
25%      0.400000  235.450000  235.010000  235.450000  1.496840e+09
50%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count    9.000000      9.000000
mean    70.743333  16647.612222
std     12.200000   2876.393333
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000
            close        high         low        open          time  \
count   10.000000   10.000000   10.000000   10.000000  1.000000e+01
mean   141.438000  235.440000  234.926000  235.440000  1.496840e+09
std    121.130874    0.021082    0.177088    0.021082  7.589466e+01
min      0.400000  235.400000  234.590000  235.400000  1.496840e+09
25%      0.697500  235.450000  235.010000  235.450000  1.496840e+09
50%    234.995000  235.450000  235.010000  235.450000  1.496840e+09
75%    235.400000  235.450000  235.010000  235.450000  1.496840e+09
max    235.400000  235.450000  235.010000  235.450000  1.496840e+09

       volumefrom      volumeto
count   10.000000     10.000000
mean    67.490000  15880.574000
std     15.431915   3638.381752
min     38.210000   8977.230000
25%     74.810000  17606.410000
50%     74.810000  17606.410000
75%     74.810000  17606.410000
max     74.810000  17606.410000

count    1.000000e+01
mean     1.496840e+09
std      7.589466e+01
min      1.496840e+09
25%      1.496840e+09
50%      1.496840e+09
75%      1.496840e+09
max      1.496840e+09
Name: time, dtype: float64